:root {
  --bggradient: linear-gradient(
    to bottom,
    rgb(255, 47, 210),
    rgb(255, 149, 50)
  );
}

.header {
  background: var(--bggradient);
  width: 100%;
}

.navbar-nav > .nav-item > .nav-link {
  color: whitesmoke;
}

.navbar-nav {
  margin-right: 0px;
}

.col > .headerText {
  vertical-align: middle;
}

.col > .shopBtn > .btn {
  color: aliceblue;
}
.col > .shopBtn > .btn:hover {
  background-color: rgb(211, 216, 221);
  border: none;
  color: black;
}

div > .section-3 {
  background: var(--bggradient);
}

.section-3 > .platform {
  margin: 0 10vw 0 10vw;
}

@media only screen and (max-width: 550px) {
  .col > .headerText {
    font-size: 3vh !important;
  }

  .section-3 > .platform {
    margin: 0;
  }
}
