:root {
  --bggradient: linear-gradient(
    to bottom,
    rgb(250, 30, 202),
    rgb(252, 152, 59)
  );
}

.header {
  background: var(--bggradient);
  width: 100%;
}

.navbar-nav > .nav-item > .nav-link {
  color: whitesmoke;
}

.navbar-nav {
  margin-right: 0px;
}

.col > .headerText {
  vertical-align: middle;
}

.col > .shopBtn > .btn {
  color: aliceblue;
}
.col > .shopBtn > .btn:hover {
  background-color: rgb(211, 216, 221);
  border: none;
  color: black;
}

@media only screen and (max-width: 550px) {
  .col > .headerText {
    font-size: 3vh !important;
  }
}
